.profile {
    margin-top: 0vw;
    background-color: aliceblue;
    width: 40vw;
    height: 20vw;
    border-style: ridge;
    border-color: lightgray;
    border-radius: 2px;
    border-width: calc(3px + 0.2vw);
    display: flex;
    justify-content: space-between;
}

.profileSpotlight {
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.profilePicture {
    border-style: ridge;
    border-color: lightgray;
    border-width: calc(2px + 0.1vw);
    width: 10vw;
    height: 10vw;
}

.username {
    margin-top: 0.2vw;
    margin-bottom: auto;
    text-decoration: underline;
    font-size: 1.2vw;
}

.title {
    margin-top: 0.1vw;
    margin-bottom: auto;
    color: gray;
    font-size: 1vw;
}

.qoute {
    color: darkgray;
    font-size: 1vw;
    text-align: center;
    margin-top: 0.5vw;
    font-size: 1vw;
    width: 110%;
}

.bio {
    width: 28vw;
    overflow: auto;
    font-size: 0.95vw;
}

.profileBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}