#top-flex {
  margin-top: calc(5px + 0.6vw);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(5px + 0.5vw);
}

#mid-top-flex {
  display: flex;
  flex-direction: column;
  gap: calc(5px + 0.8vw);
}

#mid-flex {
  margin-top: calc(5px + 0.6vw);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(5px + 0.5vw);
}

.dualbox {
  display: flex;
  flex-direction: column;
  gap: calc(5px + 0.5vw);
}

.homeDescription {
  border-style: ridge;
  border-color: saddlebrown;
  border-width: 0.4vw;
  background-image: url("https://i.imgur.com/f9YF0h0.jpg");
  background-size: contain;
  width: 50vw;
  height: 30vw;
  color: maroon;
  overflow: auto;
  font-size: 2vw;
  text-align: center;
}